.tabsPanel {
  border: 1px solid #12b886;
  padding: 14px;
}
.tabsPanelSecond {
  border: 1px solid #228be6;
  padding: 14px;
}
.tabsPanelThird {
  border: 1px solid #fab005;
  padding: 14px;
}

.table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}
.th, .td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
.th {
  background-color: #f2f2f2;
}
