.footer {
  display: flex;
  margin-top: 16px;
  justify-content: flex-end;
  padding: 2rem;
  font-size: 15px;
  color: #999;
  background: #fff;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}
